body {
    /* background-color: #E4D0D0; */
    /* background-color: #e8e3da; */
    background-color: #BAB2B5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 900px;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* header { */
/* background-color: #f5ebeb; */
/* background-color: #EEE2DC; */
/* width: 100%; */
/* margin: 0 auto; */
/* border-radius: 12px; */
/* } */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #EEE2DC;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>ul {
    list-style-type: none;
    padding: 8px;
   }

nav>ul>li {
    display: inline;
    text-align: right;
    border-radius: 12px;
    line-height: 2rem;
    padding: auto;
    margin: auto;
    }

nav>ul>li>a {
    /* background-color: #E4D0D0; */
    /* background-color: #BAB2B5; */
    background-color: #fdfdfd;
    padding: 8px;
    margin-left: 5px;
    text-decoration: none;
    /* color: #867070; */
    /* color: #123C69; */
    color: goldenrod;
    border-radius: 12px;
    text-align: right;
}

nav>ul>li>a:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white
}

/* nav .hamburger-menu { */
/* display: none; */
/* margin: 8px 12px 8px 0; */
/* } */

main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

h1,
h2 {
    /* color: #867070; */
    color: #4e4c4c;
    /* color: #123C69; */
    /* color: white; */
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

details {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    color: #4e4c4c;
}

details>summary {
    font-weight: bold;
}

.block {
    /* color: #867070; */
    color: #4e4c4c;
    font-size: 1rem;
    padding: 12px;
}

button {
    /* background-color: #E4D0D0; */
    /* background-color: #EEE2DC; */
    background-color: #fdfdfd;
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    /* color: #867070; */
    /* color: #4e4c4c; */
    color: goldenrod;
    border-radius: 12px;
    text-align: left;
    border: none;
}

button:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 12px;
    padding: 8px;
    margin-left: 8px;
}

.profilepicture {
    border-radius: 50%;
    margin: auto;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    /* background-color: #E4D0D0; */
    background-color: #fdfdfd;
    /* background-color: #BAB2B5; */
    /* color: #867070; */
    /* color: #4e4c4c; */
    color: goldenrod;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

input[type=submit]:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white
}

.about {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    width: 80%;
}

.milestones {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    width: 80%;
}

.contact {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    padding: 20px;
    width: 70%;
    /* color: #867070; */
    color: #4e4c4c;
}

.projects {
    border-radius: 12px;
    background-color: #EEE2DC;
    padding: 20px;
    width: 70%;
    
}

.projects>a {
  color: #4e4c4c;
  text-decoration: none;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  text-align: left;
  border: 1px solid #BAB2B5;
}

.projects>a:hover {
    background-color: #fdfdfd;
    color: goldenrod;
    border: none;
}

/* .home {
    background-color: #EEE2DC;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    flex-direction: row-reverse;
    transform: scale(0.75);
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
} */

.home {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    padding: 20px;
    width: 80%;
    transform: scale(0.75);
    transition: transform 0.5s ease-in-out;
}

.home:hover {
    transform: scale(1);
}

.center {
    /* color: #867070; */
    /* color: #123C69; */
    color: #4e4c4c;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    padding-left: 24px;
    text-align: center;
}

.button {
   /* background-color: #E4D0D0; */
    background-color: #BAB2B5;
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
    /* color: #867070; */
    color: #4e4c4c;
    border-radius: 12px;
    text-align: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #867070; */
    background-color: #EEE2DC;
    /* color: white; */
    color: goldenrod;
    text-align: center;
}


