body {
    /* background-color: #E4D0D0; */
    /* background-color: #e8e3da; */
    background-color: #BAB2B5;
}

/* header { */
    /* background-color: #f5ebeb; */
    /* background-color: #EEE2DC; */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* border-radius: 12px; */
/* } */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #EEE2DC;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>ul {
    list-style-type: none;
    padding: 8px;
}

nav>ul>li {
    display: inline;
    text-align: right;
    border-radius: 12px;
    line-height: 2rem;
}

nav>ul>li>a {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #E4D0D0; */
    /* background-color: #BAB2B5; */
    background-color: #fdfdfd;
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
    /* color: #867070; */
    /* color: #123C69; */
    color: goldenrod;
    border-radius: 12px;
    text-align: right;
}

nav>ul>li>a:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white
}

/* nav .hamburger-menu { */
/* display: none; */
/* margin: 8px 12px 8px 0; */
/* } */

main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #867070; */
    color: #4e4c4c;
    /* color: #123C69; */
    /* color: white; */
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2rem;
    padding-left: 16px;
    }

h2 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    padding-left: 24px;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #867070; */
    color: #4e4c4c;
    font-size: 1rem;
    padding: 12px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #E4D0D0; */
    /* background-color: #EEE2DC; */
    background-color: #fdfdfd;
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    /* color: #867070; */
    /* color: #4e4c4c; */
    color: goldenrod;
    border-radius: 12px;
    text-align: left;
    border: none;
}

button:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white;
}

.logo {
    /* background-color: #E4D0D0; */
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 12px;
    padding: 8px;
    margin-left: 8px;
}

.profilepicture {
    /* background-color: #E4D0D0; */
    border-radius: 50%;
    /* padding: auto; */
    margin: auto;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif border 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    /* background-color: #E4D0D0; */
    background-color: #fdfdfd;
    /* background-color: #BAB2B5; */
    /* color: #867070; */
    /* color: #4e4c4c; */
    color: goldenrod;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

input[type=submit]:hover {
    /* background-color: #845f5f; */
    background-color: #BAB2B5;
    color: white
}

.container {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    width: 80%;
}

.contactcontainer {
    border-radius: 12px;
    /* background-color: #f5ebeb; */
    background-color: #EEE2DC;
    padding: 20px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #867070; */
    color: #4e4c4c;
}

.homecontainer {
    background-color: #EEE2DC;
    border-radius: 50%;      
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30%;
    padding-left: 1rem;
    flex-direction: row-reverse;
    /* text-align: center; */
}

.center {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #867070; */
    /* color: #123C69; */
    color: #4e4c4c;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    padding-left: 24px;
    text-align: center;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #E4D0D0; */
    background-color: #BAB2B5;
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
    /* color: #867070; */
    color: #4e4c4c;
    border-radius: 12px;
    text-align: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #867070; */
    background-color: #EEE2DC;
    /* color: white; */
    color: goldenrod;
    text-align: center;
}


/* @media only screen and (max-width: 1024px) { */
/* nav .hamburger-menu { */
/* display: block; */
/* } */
/* nav>ul { */
/* display: none; */
/* } */

/* } */